*{
    margin: 0;
    padding: 0;
}
body{
    /* background: linear-gradient(152deg, #00C0FF, #0E25AE); 
    background: linear-gradient(-9deg, #147DD6, #316BDF);*/
    background: linear-gradient(152deg, #00C0FF, #2366EE);
    position: relative;
}
li{
    list-style: none;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}
.location-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 100%; */
    margin-right: 0.5rem;
    height: 0.8rem;
    overflow-x: scroll;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
}
.location-bar::-webkit-scrollbar {
    display:none
}
.location-bar li{
    padding: 0 0.3rem;
    line-height: 0.8rem;
    font-size: 0.3rem;
    color: #fff;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
}
.location-bar li.select{
    font-weight: bold;
}
.location-bar li span{
    white-space: nowrap; 
}
.location-bar li.select div{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    margin-left: -15px;
    background-color: #fff;
}
/*  */
.location-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 1rem;
}
.area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.area img{
    margin-left: 0.2rem;
    margin-right: 0.1rem;
    width: 0.26rem;
}
.area span{
    font-size: 0.28rem;
    color: #fff;
}
.street{
    margin-left: 0.56rem;
    font-size: 0.24rem;
    color: #fff;
}
/*  */
.temp-box{
    height: 3.4rem;
    background-image: url(../images/index/bg.png);
    background-repeat: no-repeat;
    background-position: -100% 70%;
    background-size: cover;
}
.temp-boxtop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}
.temp{
    margin-left: 0.2rem;
    margin-right: 0.1rem;
    font-size: 2rem;
    font-weight: lighter;
}
.unnit{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.53rem;
    flex-direction: column;
    height: 1.8rem;
    font-weight: lighter;
}
.time{
    font-size: 0.24rem;
}
.temp-boxbottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size: 0.24rem;
    height: 0.6rem;
}
.temp-boxbottom div{
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    margin-left: 0.2rem;
}
.temp-boxbottom div img{
    width: 0.36rem;
}
.shikuang{
    font-size: 0.32rem;
    font-weight: bold;
}
.tip{
    font-size:0.22rem;
    color:black;
    line-height: 0.32rem;
    opacity: 0.6;
    margin: 0.17rem 0.5rem 0rem;
}
.dyindex .tip{
    margin:0;
    position: absolute;
    left: 0.2rem;
    right: 0.2rem;
    bottom: 0;
    height: .2rem;
}
.week-box{
    /* min-height: 8.25rem; */
    background-color: rgba(255,255,255, 0.15);
    box-shadow: 0 .1rem .13rem 0
    rgba(142, 198, 255, 0.19);
    border-radius: 8px;
    margin: 0 0.2rem 0.2rem 0.2rem;
    /* padding-bottom: 0.2rem; */
}
.chart-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: .88rem;
    padding: 0 .25rem 0 0.05rem;
    border-bottom: 1px solid #eeeeee;
}
.chart-title p{
    font-size: .3rem;
    color: #323232;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.chart-title p:before{
    content: '';
    display: block;
    width: .06rem;
    height: .3rem;
    /* background-color: #ff9c00; */
    border-radius: .03rem;
    margin-right: .12rem;
    margin-top: .04rem;
}
.chart-title span{
    color: #656565;
    font-size: .27rem;
}
.i-table{
    width: 100%;
    padding: 0 0.2rem;
    font-size: 4vw;
    box-sizing: border-box;
    line-height: 6vw;
    color: #fff;
}
.i-table table{
    width: 100%;
    text-align: center;
}
.i-table table td{
    width:12%;
}
tr.i-weeks td {
    padding-top: 1.5vw;
    font-size: .28rem;
}
.i-table .i-tr{
    color: #fff;
    font-size: 0.24rem;
}
.i-table .i-tr td{
    width: .23rem;
}
.i-table .i-tr2{
    color: #fff;
    font-size: 0.24rem;
}
.i-tr2 td{
    height: .22rem;
}
.i-air td, .i-airB td{
    font-size: .26rem;
}
.i-airImg > td > span{
    display: inline-block; height: 2.95rem; width: 2.9rem;background-size: 100% 100%;background-repeat: no-repeat;
}
.i-airImg01 > td > span{
    display: inline-block;width: 2.9rem;height: 2.9rem;background-size: 100% 100%;background-repeat: no-repeat;
}
.i-airImg > td img, .i-airImg01 > td img{
    width: .7rem;
}
#container{
    position: relative;
    height: 100%;
    width: 100%;
}
.i-highchar0{
    position: relative;
    height: calc(66vh - 79vw);
    overflow-x: scroll;
    box-sizing: border-box;
    padding: 0 0.4rem;
}
.i-segmentation{
    width: 100%;
    height: 2vw;
    background: #e7f2f6;
}
.waring-box{
    position: absolute;
    top: 1rem;
    right: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.waring-box img{
    margin-top: 0.2rem;
    width: 1.2rem;
}
.tk{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ECF5FF;
    font-size: 0.28rem;
    display: none;
}
.tktitle{
    background-color: #fff;
    height: 0.8rem;
    text-indent: 1em;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tktitle img{
    width: 0.2rem;
    margin-right: 0.2rem;
}
.tkcontent{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.tkcontentl{
    width: 20%;
    background-color: #ECF5FF;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.28rem;
}
.tkcontentl li.select{
    background-color: #fff;
    color: #2892FF;
}
.tkcontentr{
    width: 80%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.24rem;
    color: #333333;
}
.tkcontentr li{
    margin-bottom: 0.2rem;
    margin-left: 3.33%;
    width: 45%;
    line-height: 0.6rem;
    background-color: #ECF5FF;
    border-radius: 5px;
    text-align: center;
}
.tkcontentr li.quxian{
    margin-left: 2.5%;
    width: 30%;
}
.tkcontentr li.select{
    color: #fff;
    background: linear-gradient(90deg, #2E95FC 0%, #04C3FF 100%);
} 
.tkcontentrtitle{
    width: 100%;
    line-height: 0.8rem;
    text-indent: 0.2rem;
}
.xiala{
    position: absolute;
    top: 0.2rem;
    right: 0;
    width: 0.2rem;
    padding: 0.1rem 0.2rem 0.1rem 0.1rem;
}
.dayun{
    /* min-height: 7.7rem; */
    background-color: #fff;
    box-shadow: 0 .1rem .13rem 0
    rgba(142, 198, 255, 0.19);
    border-radius: 8px;
    margin: 0 0.2rem 0.2rem 0.2rem;
    background-image: url(../images/index/chatu.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}
.dyindex .dayun{
    margin:0;
    position: absolute;
    left: 0.2rem;
    right: 0.2rem;
    top: 4.4rem;
    bottom: 1.5rem;
}
.dayuntitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.28rem;
    color: #323232;
    line-height: 0.8rem;
    text-align: center;
}
.dayuntitle li{
    position: relative;
    width: 33.3%;
    border-bottom: 1px solid #EEEEEE;
}
.dayuntitle li.select{
    color: #2892FF;
}
.dayuntitle li.select div{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 2px;
    background-color: #2892FF;
}
.dayuncontent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.22rem;
    color: #323232;
    /* max-height: 6.9rem; */
    overflow-y: scroll;
}
.dyindex .dayuncontent{
    position: absolute;
    top: 0.8rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.dayuncontent li{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.dayuncontent li img{
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #eee;
}
.dayuncontent li div{
    width: 1.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.area .areax{
    margin-left: 0.1rem;
    margin-right: 0;
    width: 0.2rem;
}