*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/LiveMonitoring/LiveQuery_bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    background-color: #d3e7ff;
}
li{
    list-style: none;
}
.back{
    position: absolute;
    left: 1vw;
    top: 2.8vh;
    width: 2.8vh;
    height: 2.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back img{
    height: 100%;
}
.keputitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6vw;
    height: 8vh;
    width: 94vw;
    overflow-x: scroll;
}
.keputitle::-webkit-scrollbar {
    display:none
}
.keputitle li{
    padding: 0 0.2rem;
    line-height: 8vh;
    font-size: 0.3rem;
    color: white;
    text-align: center;
    position: relative;
}
.keputitle li:first-child{
    padding-left: 0;
}
.keputitle li.select{
    color:#eef103;
    font-weight: bold;
}
.keputitle li.select div{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30px;
    height: 3px;
    margin-left: -15px;
    background-color: #eef103;
    border-radius: 1.5px;
}
.keputitle li span{
    white-space: nowrap; 
}
/*  */
.kepulisttitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 6vh;
    overflow-x: scroll;
}
.kepulisttitle::-webkit-scrollbar {
    display:none
}
.kepulisttitle li{
    padding: 0 0.3rem;
    line-height: 6vh;
    font-size: 0.28rem;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
}
.kepulisttitle li.select{
    color: #eef103;
}
.kepulisttitle li span{
    white-space: nowrap; 
}
.kepulisttitle li img{
    margin-right: 0.05rem;
    width: 0.3rem;
    display: none;
}
.kepulisttitle li.select img{
    display: block;
}
.kepulisttitle li div{
    position: absolute;
    right: 0;
    width: 1px;
    height: 0.2rem;
    background-color: #fff;
}
/*  */
.kepucontent{
    margin: 0 1.6vh;
    height: 90vh;
    overflow-y: scroll;
}
.kepucontent::-webkit-scrollbar {
    display:none
}
.kepucontent li{
    margin-top: 0.2rem;
    padding: 0.5rem 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    font-size: 0.3rem;
}
.kepucontentl{
    width: 0.8rem;
}
.kepucontentr{
    margin-left: 0.2rem;
    flex: 2;
}
.kepucontentrt span{
    font-size: 0.24rem;
    color: #999;
}
.kepucontentrb{
    margin-top: 0.08rem;
    font-size: 0.24rem;
}
.kepucontentrb span{
    color: #999;
}
.kepubootm{
    margin: 0 2vh;
    font-size: 0.22rem;
    color: #5b798c;
}