div.ui-slider {
    margin: .5em 0 .2em;
    padding: 0;
    -ms-touch-action: pan-y pinch-zoom double-tap-zoom;
    height: 14px;
}
.ui-slider-input::-webkit-outer-spin-button,
.ui-slider-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.m-axis-silder-bar{

}
.ui-slider-bg{
    height: 100%;
    position: absolute;
    background: #6db1f3;
    border-radius: 7px;
}
.ui-slider-track{
    position: absolute;
    width: 100%;
    max-height: 10px;
    height: 2vw;
    background: #ddd;
    border-radius: 5px;
    /*max-height: 10px;*/
    /*height: 2vw;*/
    /*background:#6db1f3 ;*/
}
.ui-slider-handle{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0px 4px rgba(58, 126, 240, 0.4);
    position: absolute;
    margin: -4px -7px;
}
.ui-loader{
    display: none;
}