*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
li{
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    /* background-image:url(./images/yayun/bg.png); */
    background-position:top left;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: #F5F5F5;
}
.venues{
    padding-bottom: 0.2rem;
}
#venuestitle{
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 2.2rem;
    color: #fff;
    font-size: 0.32rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#venuestitle img{
    padding-left: 0.2rem;
    width: 0.18rem;
}
#venuestitle span{
    margin-left: 0.2rem;
}
/* 场馆详情 */
.venuesdetail{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0px 0px 20px 0px #E4D1F0; */
    overflow: hidden;
}
.top-box{
    padding: 0 0.2rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-box .toptime{
    font-weight: normal;
    font-size: 0.24rem;
    color: #999999;
}
/*  */
.index-box{
    padding: 0 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    font-size: 0.28rem;
    color: #333;
}
.index-box .temp{
    font-size: 0.6rem;
}
.index-box .weat{
    font-size: 0.24rem;
    color: #999999;
}
.index-box p{
    margin-top: 0.05rem;
    font-size: 0.24rem;
    color: #999999;
}
.index-box .line{
    width: 1px;
    height: 15px;
    background-color: #eee;
}
.weatbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weatbox img{
    margin-right: 0.1rem;
    width: 0.4rem;
}
.index-boxitem{
    overflow-x: scroll;
}
/* 2小时短临预报 */
.venuestwo{
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0px 0px 20px 0px #E4D1F0; */
    overflow: hidden;
}
.venuestwotitle{
    padding: 0 0.2rem;
    height: 0.8rem;
    font-size: 0.32rem;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.twotime{
    font-size: 0.24rem;
    color: #999999;
}
.venuestwocontent{
    padding: 0.3rem;
    font-size: 0.28rem;
    font-weight: 340;
    line-height: 0.5rem;
    text-indent: 2em;
}
/* 气象灾害预警信号 */
.disaster{
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0px 0px 20px 0px #E4D1F0;  */
    display: none;
    overflow: hidden;
}
.disastertime{
    font-size: 0.24rem;
    color: #999999;
}
.disastercontent{
    font-size: 0.28rem;
}
.disastercontent li{
    padding: 0.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.disastercontent li:nth-child(even){
    background-color: rgba(242, 232, 255, 0.3);
}
.disasterl img{
    margin-top: 0.1rem;
    width: 1.18rem;
}
.disasterr{
    margin-left: 0.2rem;
}
.disasterrtitle{
    font-size: 0.32rem;
    font-weight: 350;
}
.disasterrcontent{
    font-weight: 340;
}
.disasterno{
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.8rem;
    font-weight: 340;
    display: none;
}
/*场馆预报  */
.venuesforecast{
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0px 0px 20px 0px #E4D1F0; */
    overflow: hidden;
}
.forecasttime{
    font-size: 0.24rem;
    color: #999999;
}
.left-line{
    position: absolute;
    left: 0.1rem;
    bottom: -0.6rem;
    font-size: .24rem;
    z-index: 2200;
}
.right-line{
    position: absolute;
    right: 0.1rem;
    bottom: -0.6rem;
    font-size: .24rem;
    z-index: 2200;
}
.left-V{
    position: absolute;
    top: 1.4rem;
    left: 0rem;
    font-size: .22rem;
    z-index: 22;
    background-color: #fff;
    width: 0.6rem;
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.5rem;
    white-space: nowrap;
    padding-bottom: 0.5rem;
}
.right-V{
    position: absolute;
    top: 1.4rem;
    right: 0rem;
    font-size: .22rem;
    z-index: 22;
    background-color: #fff;
    width: 0.6rem;
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.5rem;
    white-space: nowrap;
    padding-bottom: 0.5rem;
}
/* 7天 */
.week-box {
    position: relative;
    min-height: 8rem;
    background-color: #ffffff;
}
.weektime{
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    font-size: 0.1rem;
}
.EN .weektime{
    width: 0;
}
.weektime div{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.weektime div:nth-child(odd){
    background-color: #FFF0DB;
    color: #FF9912;
}
.EN .weektime div:nth-child(odd){
    background-color: #fff;
}
.weektime div:nth-child(even){
    background-color: #EAF3FF;
    color: #3683EF;
}
.EN .weektime div:nth-child(even){
    background-color: #fff;
}
.weekbox{
    width: 100%;
    height: 100%;
    position: relative;
}
.EN .weekbox{
    margin-left: 0%;
    width: 100%;
}
.weekline{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weekline::before{
    content: '';
    display: block;
}
.weekline::after{
    content: '';
    display: block;
}
.weekline div{
    width: 1px;
    height: 100%;
    background-color: rgba(238,238,238,0.5);
}
.i-table {
    width: 100%;
    font-size: 0.28rem;
    box-sizing: border-box;
    line-height: 5vw;
    color: #333;
}
.i-table table {
    width: 100%;
    text-align: center;
}
.i-table table td {
    width: 12%;
}
tr.i-weeks td {
    padding-top: 1.5vw;
    font-size: .28rem;
}
.i-table .i-tr {
    color: #999;
    font-size: 0.24rem;
}
.i-table .i-tr td {
    width: .23rem;
}
.i-table .i-tr2 {
    color: #ababab;
    font-size: 3vw;
}
.i-tr2 td {
    height: .22rem;
    color: #333;
}
.i-tr4 td {
    color: #999999;
}
.i-air td, .i-airB td {
    font-size: .24rem;
}
.i-airImg > td > span {
    display: inline-block;
    height: 2.95rem;
    width: 2.9rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.i-airImg01 > td > span {
    display: inline-block;
    width: 2.9rem;
    height: 2.9rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.i-airImg > td img, .i-airImg01 > td img {
    width: .5rem;
}
#container {
    position: relative;
    height: 100%;
    width: 100%;
}
.i-highchar0 {
    position: relative;
    height: 4rem;
    overflow-x: scroll;
    box-sizing: border-box;
    padding: 0 0.2rem;
}
#chart{
    height: 5rem;
    width: 100%;
    box-sizing: border-box;
    overflow-x: scroll;
    position: relative;
}
#highChart{
    width: 300vw;
    height: 100%;
    position: relative;
}
.new-chart{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}
.chart-box{
    overflow-x: scroll;
    position: relative;
    
}
.chart-box::-webkit-scrollbar {
    display:none
}
#yLine{
    top: 0.3rem;
    left: 0.2rem;
    position: absolute;
    width: .6rem;
    font-size: .24rem;
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background-color: #ffffff;
    padding-bottom: 0.2rem;
}
#yLine>div:last-child{
    visibility: hidden;
}
#windText{
    position: absolute;
    bottom: 0.45rem;
}
#hoursChart{
    height: 3rem;
    width: 10.5rem;
}
.wind-line,.weather-line{
    position: absolute;
    width: 10.5rem;
    color: #333;
    font-size: .22rem;
    display: flex;
    align-items: center;
    bottom: .6rem;
}
.wind-line>p,.weather-line>p{
    width: 8.5vw;
    text-align: center;
}
.wind-list,.weather-list{
    display: flex;
    align-items: center;
    flex: 2;
    box-sizing: border-box;
    padding-right: 5vw;
}
.wind-list>div{
    flex: 2;
    position: absolute;
    font-size: .24rem;
    width: 10vw;
}
.wind-list img{
    width: .22rem;
}
.weather-list>div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: .2rem;
    width: .5vw;
}
.weather-list img{
    width: .5rem;
    position: absolute;
    bottom: 0;
}
g.highcharts-label.highcharts-tooltip.highcharts-color-undefined{
    display: none;
}
/* 2小时降水改为曲线 */
.text{
    color: #666;
    font-size: 0.3rem;
    letter-spacing: 1px;
    padding: 0.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.8rem;
}
.text img{
    margin-right: 0.1rem;
    height: 0.6rem;
}
#rainChart{
    padding: 0 0.2rem;
    height: 2.4rem;
    border-bottom: 1px solid #eeeeee;
}
.rain-time-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.5rem;
    color: #999;
    font-size: 0.24rem;
    padding-left: 5vw;
    /* border-top: 1px solid #eeeeee; */
    margin-left: 2vw;
    position: relative;
}
.rain-time-line:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 0.18rem;
    width: 1px;
    background-color: #eee;
}
.rain-time-line>div{
    height: 100%;
    flex: 2;
    text-align: center;
    line-height: 0.5rem;
    position: relative;
}
.rain-time-line>div:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 0.18rem;
    width: 1px;
    background-color: #eee;
}
.rain-time-line>div:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 0.09rem;
    width: 1px;
    background-color: #eee;
}
