*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
li{
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-image:url(../images/yayund/rbg.png);
    background-position:0 -1.8rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-color: #F5F5F5;
    position: relative;
}
.yayuntitle{
    padding-top: 5vh;
    padding-bottom: 2vh;
}
.title{
    margin-left: 2.5%;
    height: 7vh;
}
.EN .title{
    height: 5.5vh;
}
.yayunlist{
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow-x: scroll;
}
.yayunlist::-webkit-scrollbar{
    display:none
}
.yayunlist li{
    flex: 2;
    color: #333333;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 5px;
    line-height: 6vh;
    font-size: 0.28rem;
    position: relative;
}
.yayunlist li:nth-child(5){
    min-width: 1.2rem;
}
.EN .yayunlist li{
    padding: 0 0.2rem;
}
.yayunlist li div{
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 20px;
    height: 2px;
    margin-left: -10px;
    border-radius: 1px;
}
.yayunlist li.select{
    font-weight: bold;
    font-size: 0.32rem;
}
.yayunlist li.select div{
    background-color: #F5A200;
}
.yayunsqlist{
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    overflow-x: scroll;
}
.yayunsqlist::-webkit-scrollbar{
    display:none
}
.yayunsqlist li{
    margin-left: 0.2rem;
    padding: 0.05rem 0.2rem;
    font-size: 0.28rem;
    color: #333333;
    white-space: nowrap;
}
.yayunsqlist li.select{
    background-color: rgba(255, 0, 127, 0.1);
    color: #FF007F;
    border-radius: 0.35rem;
}
.yayuncontent{
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 75vh;
    background-color: #fff;
    overflow-y: scroll;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.yayuncontent li{
    margin: 0.2rem 0.2rem 0 0.2rem;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 5px;
    position: relative;
}
.yayuncontent li:last-child{
    margin-bottom: 1vh;
}
.litop{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.8rem;
    border-bottom: 1px solid #EEEEEE;
}
.EN .litop{
    height: 1.2rem;
}
.litop span{
    font-size: 0.32rem;
    font-weight: bold;
    color: #333333;
}
.yayuncontent li.grey .litop span{
    color: #999;
}
.litop img{
    width: 0.2rem;
}
.libottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.2rem;
    font-size: 0.28rem;
    color: #333333;
}
.yayuncontent li.grey .libottom{
    color: #999;
}
.libottom>div{
    width: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid #e5e5e5; */
}
.libottom>.line{
    width: 1px;
    height: 12px;
    background-color: #EEEEEE;
}
.libottom>div:last-child{
    border: none;
}
.libottom div img{
    width: 0.44rem;
    margin-right: 0.1rem;
}
.libottom>div div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.libottom>div div p{
    margin-top: 0.05rem;
    color: #999999;
    font-size: 0.24rem;
}








